/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");


//-------- BORDERS
$grey-border-color: #ddd;

//--------- BACKGROUNDS
$base-box-bg: #fbfbfb;

//--------- COLORS
$green-color: #4CB992;
$light-color: #ffffff;
$light-green-color: #7ED321;

$orange-color: #F5A623;
$primary-color: #2daff4;
$purple-color: #8A74B9;
$secondary-color-2: #333;

body {
  font-family: "poppins";
  margin: 0;
  padding: 0;
}

// ==============================================
@mixin pricingPanel($theme-color) {
  .plan-heading {
    background-color: $theme-color;

    h3 {
      color: $light-color;
    }
  }

  .plan-body {
    border-top-color: $theme-color;
  }

  .plan-pricing {
    .pricing {
      border-color: $theme-color;
      color: $theme-color;
    }
  }
}

.payment-area {
  padding: 40px 0 60px;

  @media screen and (max-width: 767px) {
    padding: 20px 0;
  }
}

.payment-section {
  padding: 40px 0px;

  .container {
    width: calc(100% - 24px);
    max-width: 1440px;
    margin: 0 auto;
  }

  .title-block {
    width: 100%;
    text-align: center;

    @media screen and (max-width: 767px) {
      max-width: 85%;
      margin: 0 auto;
    }

    h2,
    p {
      margin: 0;
    }

    h2 {
      font-size: 36px;
      margin-bottom: 4px;
      color: #FD5602;

      @media screen and (max-width: 767px) {
        font-size: 30px;
      }
    }

    P {
      @media screen and (max-width: 767px) {
        font-size: 14px;
      }
    }
  }

  .join-now {
    text-align: center;

    .btn {
      display: block;
      padding: 14px 40px;
      border: 2px solid;
      border-color: #FD5602;
      border-radius: 50px;
      max-width: 200px;
      color: #FD5602;
      text-decoration: none;
      margin: 0 auto;
      transition: .3s all ease;

      @media screen and (max-width: 767px) {
        padding: 12px 19px;
      }

      &:hover {
        border-color: #840404;
        background: #840404;
        color: white;
      }
    }
  }
}

.payment-plans {
  display: table;
  width: 100%;
  content: " ";
  margin: 45px 0;

  @media screen and (max-width: 767px) {
    margin: 36px 0;
  }

  &__each {
    padding: 20px 0;
    width: calc(25% - 16px);
    float: left;

    @media screen and (max-width: 1200px) {
      width: calc(50% - 16px);
    }

    @media screen and (max-width: 767px) {
      width: calc(100% - 16px);
      padding: 12px 0;
    }

    &--free {
      .payment-plans__each-inner {
        background: #FD5602;
      }
    }

    &--basic {
      .payment-plans__each-inner {
        background: #FD5602;
      }
    }

    &--essential {
      .payment-plans__each-inner {
        background: #FD5602;
      }
    }

    &--premium {
      .payment-plans__each-inner {
        background: #FD5602;
      }
    }
  }

  [class^="payment-plans__"] {
    padding-left: 8px;
    padding-right: 8px;
  }

  .payment-plans__each-inner {
    border-radius: 0;
    color: #9B9B9B;
    padding: 0;
    text-align: left;
    transition: all .2s;

    .plan-heading {
      border-radius: 0;
      margin: 0;
      padding: 20px 25px;
      position: relative;
      background: #ececec;


      @media screen and (max-width: 767px) {
        padding: 17px 25px;
      }

      h3 {
        line-height: 18px;
        margin: 0;
        text-align: left;
        text-transform: none;
        color: black;
      }

      label {
        border-radius: 3px;
        color: $light-color;
        font-size: 12px;
        font-weight: normal;
        line-height: 1.2;
        padding: 5px 10px;
        position: absolute;
        top: 50%;
        right: 25px;
        transform: translateY(-50%);
        text-transform: uppercase;
        background: #FD5602;
      }
    }

    .plan-body {
      border-color: #dfdfdf;
      border-style: solid;
      border-width: 0 1px 1px;
      padding: 20px;
      min-height: 240px;
      color: black;
      background: white;

      @media screen and (max-width: 767px) {
        min-height: 210px;
      }

      p {
        color: inherit;
        font-size: 16px;
        font-weight: 600;
        margin: 0 0 14px;
        padding-bottom: 0;
      }

      ul {
        padding: 0;
        position: relative;
        list-style: none;

        li {
          color: inherit;
          font-size: 14px;
          font-weight: 400;
          list-style: none;
          padding: 0;
          position: relative;
          padding-left: 24px;
          margin-bottom: 3px;

          &:last-of-type {
            margin-bottom: 0;
          }

          &::before {
            position: absolute;
            left: 0;
            top: 2px;
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' viewBox='0 0 32 32' xml:space='preserve'%3E%3Cg%3E%3Cg id='check_x5F_alt'%3E%3Cpath style='fill: %23fd5602' d='M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M13.52,23.383 L6.158,16.02l2.828-2.828l4.533,4.535l9.617-9.617l2.828,2.828L13.52,23.383z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
      }

    }

    .plan-pricing {
      background: #FD5602;
      color: white;
      border-color: $grey-border-color;
      border-style: solid;
      border-width: 0 1px 1px;
      padding: 20px;

      &__inner {
        /* margin-bottom: 25px;
        min-height: 90px; */

        .price {
          color: inherit;
          display: block;
          font-size: 42px;
          font-weight: 600;

          sup {
            font-size: 22px;
            font-weight: normal;
            top: -11px;
          }

          small {
            color: inherit;
            font-size: 16px;
          }
        }

        .monthly {
          display: none;
        }

        .pricing {
          border: 1px solid;
          display: inline-block;
          font-size: 14px;
          font-weight: 600;
          margin-top: 6px;
          padding: 4px 15px;
          border-radius: 35px;
        }
      }

      a.btn {
        margin: 0;
      }

      .btnMonthly {
        display: none;
      }
    }
  }

  .pricingViewToggler {
    margin: 60px auto 0;
    position: relative;
    width: 225px;

    .toggle-button {
      background-color: $base-box-bg;
      border: 1px solid darken($base-box-bg, 10%);
      border-radius: 20px;
      cursor: pointer;
      display: inline-block;
      height: 40px;
      margin: 5px 0;
      position: relative;
      right: -30%;
      width: 80px;
      user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;

      button {
        background-color: $primary-color;
        border: none;
        border-radius: 100%;
        cursor: pointer;
        display: block;
        float: left;
        height: 30px;
        left: 8px;
        margin: -3px 0 0 -3px;
        outline: 0;
        position: absolute;
        top: 7px;
        transition: left 0.3s;
        width: 30px;
      }
    }

    .toggle-button-monthly button {
      border: none;
      height: 30px;
      left: 42px;
      margin: 0;
      top: 4px;
      width: 30px;
    }

    span {
      color: darken($light-color, 20%);
      display: block;
      font-size: 16px;
      font-weight: 600;
      position: absolute;
      top: 8px;

      &.annual {
        left: 0;
      }

      &.monthly {
        right: 0;
      }

      &.active {
        color: $secondary-color-2;
      }
    }
  }
}

.christmasIcons {
  .christmasHat {
    left: -12px;
    position: absolute;
    top: -60px;
  }
}

section.plansInclude {
  background: #1A73A0;
  color: $light-color;

  h2 {
    color: $light-color;
  }

  ul {
    list-style: none;
    padding: 15px 0;

    li {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 30px;
      list-style: none;
      padding: 20px 0 20px 50px;
      position: relative;

    }
  }
}